<div class="row" style="background-color: #009999">
    <div class="col-md-4">
       <p><strong>&nbsp; Web Skills</strong></p> 
    </div>
    <div class="col-md-4">
        <p><strong>&nbsp; Database Skills</strong></p> 
     </div>
     <div class="col-md-4">
        <p><strong>&nbsp; Service Skills</strong></p> 
     </div>
</div>
<div class="row">
<div class="col-md-4">
    <ng-template ngFor let-skillweb [ngForOf]="webskills">
        <span>&nbsp; {{skillweb.skillname}}</span><br>
    </ng-template>
</div>
<div class="col-md-4">
    <ng-template ngFor let-skilldatabase [ngForOf]="databaseskills">
        <span>&nbsp; {{skilldatabase.skillname}}</span><br>
    </ng-template>
</div>
<div class="col-md-4">
    <ng-template ngFor let-skillservice [ngForOf]="serviceskills">
        <span>&nbsp; {{skillservice.skillname}}</span><br>
    </ng-template>
</div>
</div>
<br>
